.area_slide {
  width: 100%;
  background: red;
}
.area_slide .area_box {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  font-size: 1.4rem;
  float: left;
  background: url(../img/lanosia.png) no-repeat center/cover;
  position: relative;
}
.area_box:nth-child(2) {
  background: url(../img/forest.jpg) no-repeat center/cover;
}
.area_box:nth-child(3) {
  background: url(../img/danalran.jpg) no-repeat center/cover;
}
.area_box:nth-child(4) {
  background: url(../img/moludona.jpg) no-repeat center/cover;
}
.area_box:nth-child(5) {
  background: url(../img/jungang.png) no-repeat center/cover;
}
.area_box:after {
  content: "라노시아";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%);
  text-align: center;
  padding-top: 10px;
}
.area_box:nth-child(2):after {
  content: "검은장막숲";
}
.area_box:nth-child(3):after {
  content: "다날린";
}
.area_box:nth-child(4):after {
  content: "모르도나";
}
.area_box:nth-child(5):after {
  content: "커르다스 중앙고지";
}

.main_slider {
  padding: 0 20vw;
}

.main_slider_image {
  width: 100vw;
  object-fit: fill;
}
