/*
.area {position: relative;}
.area:after {
  position: absolute;
  content:"";
  display: block;
}
*/
.main_slider {
  padding: 0 20vw;
  height:100px;
}

.main_slider_image {
  width: 150px;
  height:80px;
  object-fit: contain;
  border-radius: 5px;
  position: relative;
  background-image:linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%);
}
.main_slider_image:after {
  content: "라노시아";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
.main_slider_image:nth-child(2):after {
  content: "검은장막숲";
}
.main_slider_image:nth-child(3):after {
  content: "다날린";
}
.main_slider_image:nth-child(4):after {
  content: "모르도나";
}
.main_slider_image:nth-child(5):after {
  content: "커르다스 중앙고지";
}
