@charset "utf-8";

h2 {padding-top: 70px; text-align: center;}
.monList {
    margin-top:30px;
    width:100%;
}
.monList table {
    width:95%; margin:auto; 
    text-align: center;
    border-collapse: collapse;
}
.monList table tr th {
    width:15%; 
    padding:10px 0;
    background:#20202E;
    color:#fff;
    font-size:1.4rem;
}
.monList table tr th:nth-child(2) {width:15%;}
.monList table tr th:nth-child(2) {width:15%;}
.monList table tr th:nth-child(3) {width: 20%;}
.monList table tr th:nth-child(4) {width: 50%;}
.monList table tbody tr td {
    font-size:1.2rem;
    border-bottom: 1px solid #20202E;
}
.monList table tbody tr td.etc {padding:0 10px}
.monList table tbody tr td:nth-child(1) {padding-top:5px;}
.monList table tbody tr td img {width:80px; height:80px;}

@media screen and (min-width:1280px) {
    .monList {
        width:1060px;
        margin:auto;
    }
}