@charset "utf-8";

/* search Sectiion - common */
.visInner {
    background: #20202E;
    position: relative;
    height:220px;
}
.visInner h2 {
    color:#fff;
    font-size:2.2rem;
    text-align: center;
    padding:50px 0 27px;
}
.visInner form {
    width:86.111%;
    margin:0 auto 50px;
}
.visInner input {
    background:rgba(255,255,255,0.5);
    border:1px solid #fff;
    width:100%;
    padding:10px 0;
    border-radius: 5px;
    text-align: center;
    color:#fff;
}
.visInner input::placeholder {color:#fff;}

#content {
    margin-top:75px;
}
.slideWrap {width:975px; overflow:hidden;}
.slideWrap .slide {
    width:320px; height:150px;
    background:#FBE7E6;
    border-radius: 5px;
    float:left;
    margin-right:5px;
    padding:30px 0 0 20px;
}
.slideWrap .slide p {
    font-size:1.4rem;
    line-height: 2.2rem;
}
.slideUp {font-size:1.6rem;}