@charset "utf-8";

/* search Sectiion - common */
.visInner {
    background: #20202E;
    position: relative;
    height:220px;
}
.visInner h2 {
    color:#fff;
    font-size:2.2rem;
    text-align: center;
    padding:50px 0 27px;
}
.visInner form {
    width:86.111%;
    margin:0 auto 50px;
}
.visInner input {
    background:rgba(255,255,255,0.5);
    border:1px solid #fff;
    width:100%;
    padding:10px 0;
    border-radius: 5px;
    text-align: center;
    color:#fff;
}
.visInner input::placeholder {color:#fff;}

#content {margin-top:75px;}
.slideWrap {
    width:88.888%;
    margin:auto;
    position: relative;
    display:none;
}
.slideWrap .slide {
    width:100%;
    background:#FBE7E6;
    border-radius: 5px;
    position: absolute;
    top:0; left:0;
    padding:15px 20px;
}
.slideWrap .slide:not(:first-child) {
    display:none;
}
.slideWrap .slide p {
    font-size:1.4rem;
    line-height: 2.2rem;
}
.slideUp {font-size:1.6rem;}